Source: mos-la-default-settings
Section: x11
Priority: optional
Maintainer: MountainOS <mountainoslinux@gmail.com>
Build-Depends: debhelper-compat (= 13), dh-python, intltool, python3
Standards-Version: 4.6.1.0
Homepage: mountainlinuxos.wordpress.com
Rules-Requires-Root: no

Package: mos-la-default-settings
Architecture: all
Pre-Depends: ${misc:Pre-Depends}
Depends: dbus-user-session,
         lightdm-gtk-greeter (>= 2.0.1-1),
         systemd (>= 231-1~),
         x11-common (>= 1:7.6+7ubuntu2),
         xfce4-session (>= 4.12.1-3ubuntu2~),
         mos-artwork (>= 12.10.1~),
         ${misc:Depends},
         ${python3:Depends}
Recommends: libxfce4ui-utils,
         fonts-noto-core
Breaks: upstart (<< 1.13.2-0ubuntu28~)
Provides: lightdm-gtk-greeter-config
Description: default settings for the MountainOS LiteAir desktop
 This package contains the default settings used by MountainOS LiteAir.

