[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/mntos/Desktop/xfdashboard.desktop]
row=4
col=0

[/home/mntos/Desktop/Panther Launcher.desktop]
row=3
col=0

[Wastebasket]
row=2
col=0

[/]
row=0
col=0

[/home/mntos]
row=1
col=0

