[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/mntos/Desktop/xfdashboard.desktop]
row=6
col=10

[/home/mntos/Desktop/Panther Launcher.desktop]
row=6
col=11

[Wastebasket]
row=5
col=12

[/]
row=6
col=9

[/home/mntos]
row=6
col=12

