[user]
pinned=/usr/share/applications/xfce4-terminal.desktop;/usr/share/applications/brave-browser.desktop;/usr/share/applications/thunar.desktop;/usr/share/applications/org.gnome.Software.desktop;
showPreviews=true
indicatorStyle=0
